
@{
    ViewData["Title"] = "UpdateInformation";
    Layout = "~/Views/news/Index.cshtml";
}

<h1>UpdateInformation</h1>

<p>This is the About page content. You can put any information you want here.</p>